@import "../global.scss";

.container{
  height: 100%;
  background-color: rgb(250, 252, 255);
}

.side-nav{
  width: 20vw;
  height: 100vw;
}

.item-hover:hover{
  background-color: rgb(148, 148, 148);
  color: white
}

.font-gray{
  color: gray;
}