<mat-grid-list cols="1" rowHeight="1:1">
  <mat-grid-tile>
    <mat-card class="container" style="width: 32%; background-color: white; margin: 1%; margin-bottom: auto;">
      <mat-card-header>
        <mat-card-title>RSI</mat-card-title>
        <mat-card-subtitle>Value</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>



<!-- <mat-grid-list cols="1" rowHeight="2:1">

  <mat-grid-tile>
    <mat-card style="width: 25%; height: 400px; background-color: white; margin: 0.2%; margin-bottom: auto;">
      <apx-chart #chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis" [yaxis]="chartOptions.yaxis" [title]="chartOptions.title"></apx-chart>
    </mat-card>

    <mat-card style="width: 50%; height: 400px; background-color: white; margin: 0.2%; margin-bottom: auto;">
      <div id="chart">
        <apx-chart #chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis" [yaxis]="chartOptions.yaxis" [title]="chartOptions.title"></apx-chart>
      </div>

      <mat-divider></mat-divider>
      
      <mat-form-field appearance="fill">
        <mat-label>Coins:</mat-label>
        <select matNativeControl>
          <option>BTC | BRL</option>
          <option>ETH | BRL</option>
          <option>ADA | BRL</option>
        </select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Coins:</mat-label>
        <select matNativeControl>
          <option>BTC | BRL</option>
          <option>ETH | BRL</option>
          <option>ADA | BRL</option>
        </select>
      </mat-form-field>

    </mat-card>

    <mat-card style="width: 25%; height: 400px; background-color: white; margin: 0.2%; margin-bottom: auto;">
      teste
    </mat-card>
    
  </mat-grid-tile>

  <!-- <mat-grid-tile>
    <mat-card style="width: 100%; height: auto; background-color: white; margin: 1%; margin-bottom: auto;">
      <app-candle-chart id="chart" [data]=candleChart></app-candle-chart>
    </mat-card>
  </mat-grid-tile> -->

  <!--<mat-grid-tile>
    <mat-card style="width: 100%; height: auto; background-color: white; margin: 1%; margin-bottom: auto;">
      <app-pie-chart [data]=pieChart></app-pie-chart>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card style="width: 100%; height: auto; background-color: white; margin: 1%; margin-bottom: auto;">
      <app-line-chart [data]=lineChart></app-line-chart>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card style="width: 100%; height: auto; background-color: white; margin: 1%; margin-bottom: auto;">
      <app-bar-chart [data]=barChart></app-bar-chart>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card style="width: 100%; height: auto; background-color: white; margin: 1%; margin-bottom: auto;">
      <app-area-chart [data]=areaChart></app-area-chart>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card style="width: 100%; height: auto; background-color: white; margin: 1%; margin-bottom: auto;">
      <app-column-chart [data]=columnChart></app-column-chart>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card style="width: 100%; height: auto; background-color: white; margin: 1%; margin-bottom: auto;">
      <app-heatmap-chart [data]=heatmapChart></app-heatmap-chart>
    </mat-card>
  </mat-grid-tile> -->

   <!-- <mat-grid-tile>
    <button mat-flat-button color="accent">Accept</button>
    <button mat-flat-button color="warn">Decline</button>
    <button mat-flat-button color="primary">Enter</button>
  </mat-grid-tile> -->
<!-- </mat-grid-list> -->