<mat-grid-list cols="1" rowHeight="30rem">
  <mat-grid-tile>
    <mat-card class="exchange-card">
      <mat-card-header>
        <mat-card-title>BTC / BRL</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="multi"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale"
      [animations]="false"
      (select)="onSelect($event)">
    </ngx-charts-line-chart>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>