.absolute-left{
  position: absolute;
  left: 0px;
}

.absolute-right{
  position: absolute;
  right: 0px;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.cursor-pointer{
  cursor: pointer;
}